/* here is the nexus academy login page styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
}
.general-wrapper{
  box-shadow: 5px 5px 5px 5px rgb(234, 228, 228);
}
.header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
h1,
h2 {
  font-size: 50px;
}
.languages h3 {
  font-size: 35px;
}
.mixed-format {
  background-color: rgb(202, 209, 216);
  border: 2px solid rgb(21, 6, 6);
  border-radius: 1.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 550px;
  margin: 10px auto;
  width: 90%;
}
#login-account {
  font-size: 25px;
}
#address {
  font-size: 20px;
}
#password-label {
  font-size: 20px;
}
#pass {
  font-size: 15px;
  text-decoration: none;
}
#login:hover {
  background-color: coral;
}
.signup {
  font-size: 15px;
}
#sign {
  text-decoration: none;
}
#login {
  margin-bottom: 10px;
  padding: 0.2%;
  padding-left: 66px;
  padding-right: 66px;
  border-radius: 2rem;
  background-color: rgb(113, 113, 234);
  color: whitesmoke;
}
.with-goo:hover {
  background-color: coral;
}
.with-goo {
  margin-bottom: 10px;
  padding: 0.2%;
  padding-left: 18.5px;
  padding-right: 18.5px;
  border-radius: 2rem;
  background-color: rgb(129, 99, 143);
  color: whitesmoke;
}
#email,
.log-pass {
  border-radius: 2rem;
}
/* here starts the styles for the sign-up form */
 .header-wrapper{
  background-color:rgba(0, 0, 0, 0.861);
 }
 header nav{
  display: flex;
  justify-content: space-between;
 }
 .header-wrapper a{
  color: white;
  text-decoration: none;
 }
 .header-wrapper li{
  list-style: none;
 }
 #menu{
  color: white;
   text-align: left;
   margin: auto;
   margin-right: 15px;
   font-size: 30px;
 }
 nav ul{
  display: flex;
 }
 nav a{
  margin-right: 30px;
 }
 ul li{
 padding-top:20px;
 }
  li a:hover{
  color: coral;
 }
 /* nav-list.show{
  display: flex;
 } */
.description {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.paragraph11 {
  font-size: 35px;
}
.form-container {
  box-sizing: border-box;
  background-color: rgb(101, 178, 254);
  border: 2px solid rgb(87, 15, 15);
  border-radius: 2rem;
  border-width: 3px;
  width: 90%;
  max-width: 650px;
  padding: 50px;
  margin: 35px auto;
}
.start {
  font-size: 30px;
  margin-bottom: 20px;
}
#first-name,
#last-name,
#email-address,
#password,
#confirm-password,
#country,
#phone-number {
  border-radius: 2rem;
}
input{
  box-sizing: border-box;
   padding-left: 7px;
}
#btn {
  border-width: 2px;
  border-radius: 2rem;
  padding: 3px 10px;
  background-color: rgb(80, 148, 112);
}
#btn:hover {
  background-color: coral;
}
label {
  width: 180px;
  text-align: left;
}
.footer-links {
  text-align: left;
}
@media (max-width: 600px) {
  .form-container {
    width: 90%;
    padding: 20px;
  }
  label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
  .footer {
     display: flex;
     flex-direction: column;
  }
  footer p{
    margin-top: 5px;
  }
}
/* media query for the mobile responsive */
@media(max-width:600px){
  nav li{
    display: none;
  }
}
@media(min-width:600px){
  #menu{
    display: none;
  }
}