body {
  background-color: lightblue;
}
body {
  background-color:red;
}
body {
  background-color:indianred;
} 
#first {
  background-color: blue;
}
.primary {
  background-color: green;
}
p {
  color: rgb(44, 3, 3);
}

.primary.plus {
  background-color: yellow;
}
.primary:hover {
  background-color: orange;
}

 